@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@500&family=Spectral:wght@300&display=swap');

html{
    background-color: #FFFAF4;
    box-sizing: border-box;
    font-family: 'Spectral', 'Spectral SC';
}

body {margin: 0;}

a {text-decoration: none;}

.header{ position: relative;}

.fondoHeader{
    width: 100%;
    position: absolute;
    top: 0;}

.presentacion{
    width: 50%;
    background-color: #F8E1C2;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    border-radius: 30px;
    left: 23%;
}

.fotoPresentacion{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.fotoPresentacion img{
    width: 250px;
    border-radius: 10%;
}

.contenedorFlex{
    display: flex;
    justify-content: center;
    width: 60%;
}

.infoPersonal h1 {margin-bottom: -1%; margin-top: 0;}
.infoPersonal h2 {margin-bottom: 10%;}

.redes {
    width: 70%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.redes img{ width: 30px;}


#navBar{
    margin: auto;
    margin-top: 40%;
    width: 70%;
    color: #F8E1C2;
    background-color: #AC5C39;
    border-radius: 7px;
    text-align: center;
    padding: 1%;
}

.bar{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.bar a{
    color: #F8E1C2;
    font-size: 20px;
}

#musica{
    margin-top: 6%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.tituloMusica{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}

.tituloMusica h2 {margin: 5%;}

#musica h3 {color: #AC5C39;}

.musicaFlex {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.sitios img{
    margin-right: 20px;
}

#carreraMusical{
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.tituloCarreraMusical{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}
.tituloCarreraMusical h2 {margin: 5%;}

.todoSalvapantallas{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}


.infoSalvapantallas{
    width: 30%;
    text-align: center;
}

.tituloSalvapantallas{
    color: #AC5C39;
    font-size: 22px;
}

.fotoSalvapantallas img{
    width: 280px;
    border-radius: 20px;
}

.cuadroSalvapantallas{
    background-color: #F8E1C2;
    margin-left: 5%;
    margin-top: 1%;
    padding: 6%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    border-radius: 30px;
    width: 50%;
}

.cuadroSalvapantallas div {margin-right: 5%;}

.cuadroSalvapantallas h3{color: #AC5C39; margin-top: 0;}
.duracion, .giras {margin-top: 7%;}

.solista{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: 6%;
    align-items: center;
}

.infoSolista{
    width: 30%;
    text-align: center;
}

.tituloSolista{
    color: #AC5C39;
    font-size: 22px;
}

.fotoSolista img{
    width: 280px;
    border-radius: 20px;
}

.cuadroSolista{
    background-color: #F8E1C2;
    margin-top: 1%;
    padding: 5%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    border-radius: 30px;
    width: 56%;
    justify-content: space-between;
}

.cuadroSolista div{
    width: 25%;
}

.cuadroSolista h3{
    color: #AC5C39;
    margin-top: 0;
}


#nominaciones{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.eventos{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.gardel, .grammy{
    width: 40%;
    background-color: #F8E1C2;
    text-align: center;
    padding: 3%;
    border-radius: 30px;
}

.sms, .infogrammy, .triste{
    text-align: left;
}

.tituloGardel, .tituloGrammy{
    color: #AC5C39;
}


.tituloNominaciones{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}

.tituloNominaciones h2 {margin: 5%;}


#trabajos{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8%;
}


.tituloTrabajos{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}

.tituloTrabajos h2 {margin: 5%;}

.telonera{
    background-color: #F8E1C2;
    width: 90%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 3%;
}

.fotoTelonera{
    width: 50%;
    text-align: center;
}

.infoTelonera{
    width: 50%;
    margin-left: 7%;
}

.tituloTelonera, .textoTelonera{
    margin: auto;
}

.fotoTelonera img{
    width: 70%;
}

.marcas{
    background-color: #F8E1C2;
    width: 90%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 3%;
    margin-top: 4%;
}

.fotoMarcas, .infoMarcas{
    width: 50%;
    text-align: center;
}

.infoTelonera{
    width: 50%;
}

.fotoMarcas img{
    width: 70%;
}

.fotoMarcas, .infoMarcas h3{
    text-align: center;
}

.textoMarcas {text-align: left;}

#footer{
    margin-top: 10%;
    background-image: url(img/footer.png);
}

.fotoFooter{
    text-align: center;
    padding: 2%;
}

.fotoFooter img{
    width: 150px;
}