@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@500&family=Spectral:wght@300&display=swap');

@keyframes derAnim {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(1500px);
    }
    100%{
        transform: translateX(1500px);
    }
}

@keyframes izqAnim {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-1200px);
    }
    100%{
        transform: translateX(-1200px);
    }
}

@keyframes scaleAnim {
    0%{
        color: #AC5C39;
        transform: scale(-0);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes rotacionAnim {
    0%{
        transform: rotate3d(0, 0, 0, 0deg);
    }
    50%{
        transform: rotate3d(0, 0, 0, 360deg);
    }
    100%{
        transform: rotate3d(0, 0, 1, 360deg);
    }
}


:root{
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

html{
    background-color: #FFFAF4;
    box-sizing: border-box;
    font-family: 'Spectral', 'Spectral SC';
    scroll-behavior: smooth;
}

body {margin: 0;}

a {text-decoration: none; color: black;}
p, li {font-size: 18px;}

header{
    background-color: #AC5C39;
    height: 40vh;
}



.navBar{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    max-width: 1200px;
    color: #F8E1C2;
    border-radius: 7px;
    text-align: center;
    padding: 1%;
}

.bar{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.bar a{
    color: #F8E1C2;
    font-size: 20px;
    width: 20%;
    animation-name: scaleAnim;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bar a::after {
    content: "";
    display: block;
    background: #F8E1C2;
    width: 100%;
    height: 2px;
    clip-path: var(--clippy);
    transition: all .3s;
}

.bar a:hover{
    --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
}

#cajaPresentacion{
    transform: translateY(-30%);
    overflow: hidden;
}


.presentacion{
    width: 50%;
    max-width: 920px;
    background-color: #F8E1C2;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    border-radius: 30px;
    margin: 0 auto;
    animation-name: derAnim;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.fotoPresentacion{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 10%;
}


.fotoPresentacion img{
    width: 250px;
    border-radius: 10%;
    width: 90%;
    margin: 10%;
    transition: all 0.5s;
}

.fotoPresentacion img:hover{
    opacity: 0.7;
}


.contenedorFlex{
    display: flex;
    justify-content: center;
    width: 60%;
}

.infoPersonal h1 {
    margin-bottom: -1%;
    margin-top: 0;
}

.infoPersonal h2 {
    margin-bottom: 10%;
}

.mail{
    color: #AC5C39;
}

.mail:hover{text-decoration: underline;}


.redes {
    width: 70%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    animation-name: scaleAnim;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-delay: 1s;
}
.redes img{
    width: 30px;
    transition: all 0.5s ease;
}

.redes img:hover{opacity: 0.5;}



#musica{
    margin-top: -100px;
    width: 70%;
    max-width: 1250px;
    margin-left: 15%;
    margin-right: 15%;
}

.tituloMusica{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}

.tituloMusica h2 {margin: 5%;}

#musica h3 {color: #AC5C39;}

.musicaFlex {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.sitios{
    animation-name: scaleAnim;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sitios img{
    margin-right: 20px;
    transition: all 0.5s ease;
}

.sitios img:hover{opacity: 0.5;}


#carreraMusical{
    margin-top: 3%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    overflow: hidden;
}

.tituloCarreraMusical{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}
.tituloCarreraMusical h2 {margin: 5%;}

.todoSalvapantallas{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}


.infoSalvapantallas{
    width: 20%;
    text-align: center;
    animation-name: izqAnim;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.tituloSalvapantallas{
    color: #AC5C39;
    font-size: 20px;
}

.fotoSalvapantallas {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
}

.fotoSalvapantallas img{
    width: 100%;
    border-radius: 20px;
}

.fotoSalvapantallas:hover{
    opacity: 0.7;
}

.cuadroSalvapantallas{
    width: 75%;
    animation-name: derAnim;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.cuadroSalvapantallasInfo{
    background-color: #F8E1C2;
    margin: auto;
    margin-top: 1%;
    padding: 6%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.cuadroSalvapantallasInfo p, .cuadroSalvapantallasInfo li{
    font-size: 16px;
}

.cuadroSalvapantallasInfo div {width: 25%;}

.cuadroSalvapantallas h3{
    color: #AC5C39;
    margin-top: 0;
}

.solista{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 6%;
    align-items: center;
}

.infoSolista{
    width: 20%;
    text-align: center;
    animation-name: izqAnim;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.tituloSolista{
    color: #AC5C39;
    font-size: 20px;
}

.fotoSolista {
    width: 100%;
    transition: all 0.5s ease;
}

.fotoSolista img{
    width: 100%;
    border-radius: 20px;
}

.fotoSolista:hover{
    opacity: 0.7;
}

.cuadroSolista{
    width: 75%;
    animation-name: derAnim;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.cuadroSolistaInfo {
    background-color: #F8E1C2;
    margin: auto;
    margin-top: 1%;
    padding: 6%;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border-radius: 30px;
}

.cuadroSolistaInfo p, .cuadroSolistaInfo li{
    font-size: 16px;
}

.cuadroSolistaInfo div {width: 30%;}


.cuadroSolista h3{
    color: #AC5C39;
    margin-top: 0;
}


#nominaciones{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.eventos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.gardel, .grammy{
    width: 40%;
    background-color: #F8E1C2;
    text-align: center;
    padding: 3%;
    border-radius: 30px;
    animation-name: rotacionAnim, scaleAnim;
    animation-duration: 2s;
    animation-delay: 1s, 0s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sms, .infogrammy, .triste{
    text-align: left;
}

.tituloGardel, .tituloGrammy{
    color: #AC5C39;
}


.tituloNominaciones{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}

.tituloNominaciones h2 {margin: 5%;}



#trabajos{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8%;
    overflow: hidden;
}


.tituloTrabajos{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}

.tituloTrabajos h2 {margin: 5%;}

.telonera{
    background-color: #F8E1C2;
    width: 90%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 3%;
    animation-name: derAnim;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.fotoTelonera{
    width: 50%;
    text-align: center;
    overflow: hidden;
}


.infoTelonera{
    width: 50%;
    margin-left: 7%;
}

.tituloTelonera, .textoTelonera{
    margin: auto;
}

.fotoTelonera img{
    width: 70%;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.fotoTelonera img:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.marcas{
    background-color: #F8E1C2;
    width: 90%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 3%;
    margin-top: 4%;
    animation-name: izqAnim;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.fotoMarcas, .infoMarcas{
    width: 50%;
    text-align: center;
}

.infoTelonera{
    width: 50%;
}

.fotoMarcas{
    overflow: hidden;
}

.fotoMarcas img{
    width: 70%;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.fotoMarcas img:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.fotoMarcas, .infoMarcas h3{
    text-align: center;
}

.textoMarcas {text-align: left;}

#footer{
    margin-top: 10%;
    background-color: #AC5C39;
}

.fotoFooter{
    text-align: center;
    padding: 2%;
}

.fotoFooter img{
    width: 150px;
    transition: all 0.5s ease;
}

.fotoFooter img:hover{
    opacity: 0.5;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 20px;
    }

    .navBar{
        display: none;
    }

    #cajaPresentacion{
        transform: translateY(-250px);
    }

    .presentacion {
        width: 70%;
        display: block;
        top: 70px;
        margin: 0 auto;
        padding: 30px;
    }
    .fotoPresentacion {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .fotoPresentacion img:active{
        opacity: 0.7;
    }
    .contenedorFlex{
        width: 100%;
    }
    .redes{
        margin: auto;
        margin-top:30px;
    }

    .tituloMusica h2{
        margin-top: 5%;
    }

    .musicaFlex{
        display: block;
    }

    .instrumentos, .estilos, .encontrala{
        margin-top: 50px;
    }

    .todoSalvapantallas, .solista{
        display: block;
    }

    .infoSalvapantallas, .infoSolista{
        width: 100%;
        margin-top: 40px;
    }

    .fotoSalvapantallas, .fotoSolista{
        width: 70%;
        margin: auto;
    }

    .cuadroSalvapantallas, .cuadroSolista{
        width: 100%;
        margin-top: 30px;
    }

    .cuadroSalvapantallasInfo, .cuadroSolistaInfo{
        display: block;
        height: auto;
    }

    .cuadroSalvapantallasInfo div, .cuadroSolistaInfo div{
        width: 100%;
    }

    .cuadroSalvapantallasInfo p, .cuadroSolistaInfo p{
        margin-top: -15px;
    }

    .cuadroSalvapantallasInfo h3, .cuadroSolistaInfo h3{
        font-size: 16px;
    }

    .eventos{
        display: block;
        width: 100%;
    }

    .gardel, .grammy{
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10%;
    }

    .telonera, .marcas{
        display: block;
        padding: 8%;
        width: 85%;
        margin-top: 30px;
    }

    .fotoMarcas, .infoMarcas, .infoTelonera, .fotoTelonera{
        width: 100%;
        margin: auto;
    }

   .infoMarcas, .infoTelonera h3{
        text-align: center;
   }

   .fotoFooter img{
    width: 100px;
}
}

@media screen and (min-width: 601px) and (max-width: 990px) {
    .navBar{
        display: none;
    }

    #cajaPresentacion{
        transform: translateY(-200px);
    }

    .presentacion {
        width: 80%;
    }

    .musicaFlex{
        display: block;
    }

    .instrumentos, .estilos, .encontrala{
        margin-top: 50px;
    }

    .sitios img{
        width: 30px;
    }

    .todoSalvapantallas, .solista{
        display: block;
    }

    .fotoSalvapantallas, .fotoSolista {
        width: 100%;
    }


    .infoSalvapantallas, .infoSolista{
        width: 50%;
        margin: auto;
        margin-top: 40px;
    }

    .cuadroSalvapantallas, .cuadroSolista{
        width: 100%;
        margin-top: 30px;
    }

    .cuadroSalvapantallasInfo p, ul, .cuadroSolistaInfo p, ul{
        margin-top: -15px;
    }

    .eventos{
        width: 100%;
    }

    .gardel, .grammy{
        width: 40%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 4%;
    }

    .telonera, .marcas{
        display: block;
        padding: 5%;
        width: 90%;
        margin-top: 30px;
    }

    .fotoMarcas, .infoMarcas, .infoTelonera, .fotoTelonera{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .infoMarcas, .infoTelonera ul{
        text-align: left;
    }

    .fotoFooter img{
        width: 150px;
    }
}