@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@500&family=Spectral:wght@300&display=swap');

html{
    background-color: #FFFAF4;
    box-sizing: border-box;
    font-family: 'Spectral', 'Spectral SC';
}

body {margin: 0;}

a {text-decoration: none;}

.header{ position: relative;}

.fondoHeader{
    width: 100%;
    position: absolute;
    top: 0;}

.presentacion{
    width: 50%;
    background-color: #F8E1C2;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    border-radius: 30px;
    left: 23%;
}

.fotoPresentacion{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.fotoPresentacion img{
    width: 250px;
    border-radius: 10%;
}

.contenedorFlex{
    display: flex;
    justify-content: center;
    width: 60%;
}

.infoPersonal h1 {margin-bottom: -1%; margin-top: 0;}
.infoPersonal h2 {margin-bottom: 10%;}

.redes {
    width: 70%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.redes img{ width: 30px;}

#navBar{
    margin: auto;
    margin-top: 40%;
    width: 70%;
    color: #F8E1C2;
    background-color: #AC5C39;
    border-radius: 7px;
    text-align: center;
    padding: 1%;
}

.bar{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.bar a{
    color: #F8E1C2;
    font-size: 20px;
}

#musica{
    margin-top: 6%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.tituloMusica{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}

.tituloMusica h2 {margin: 5%;}

#musica h3 {color: #AC5C39;}

.musicaFlex {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.sitios img{
    margin-right: 20px;
}

#carreraMusical{
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.tituloCarreraMusical{
    color: #F8E1C2;
    background-color: #AC5C39;
    width: 100%;
    border-radius: 7px;
    margin: auto;
}
.tituloCarreraMusical h2 {margin: 5%;}

.todoSalvapantallas{ width: 70%; margin: auto;}

.salvapantallas {
    display: flex;
    justify-content: space-between;}

.infoSalvapantallas{
    width: 50%;
}

.tituloSalvapantallas{color: #AC5C39;}

.fotoSalvapantallas{
    width: 50%;
    text-align: right;}

.fotoSalvapantallas img{
    width: 300px;
    border-radius: 20px;
}

.cuadroSalvapantallas{
    background-color: #F8E1C2;
    margin-top: 7%;
    padding: 6%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    border-radius: 30px;
}

.cuadroSalvapantallas div {margin-right: 5%;}

.cuadroSalvapantallas h3{color: #AC5C39; margin-top: 0;}
.duracion, .giras {margin-top: 7%;}